.titulo{
    font-size: 18px;
    display: flex;
    align-content: center;
    color: black;
}

.escudo{
    display: flex;
    align-content: center;
    width: 50%;

}

.inputs{
    border: black;
    display: flex;
    align-content: center;
}

.labels{
    display: flex;
    align-content: center;

}

.botones{
    display: flex;
    align-content: center;
}