<!DOCTYPE html>
<html>
<!--{{variable}}><-->
    <title>CONTAINER PORTAL</title>
    <br>
        <div [appDirectiva]="fontSize" [appColor]="color"><!--LLAMADO A LA DIRECTIVA, LA VARIABLE A MANEJAR SE LLAMA IGUAL QUE EL SELECTOR-->
            TEST ATTRIBUTE DIRECTIVES
        </div>
        <input type="number" [(ngModel)]="fontSize" class="inputs" placeholder="tamaño de la fuente">
        <input type="string" [(ngModel)]="color" class="inputs" placeholder="color">
        <br>
        <div class="titulo">
            BIENVENIDO AL PORTAL DE MONITOREO
        </div>
    <router-outlet></router-outlet>
</html>